{% extends 'base.html' %}

{% block title %}About{% endblock title %}


{% block body %}
<div class="container-fluid px-0 py-4">
    <img src="https://source.unsplash.com/1600x400/?aboutus,icecreams" class="d-block w-100 mx-0" alt="...">
    </div>
    <div class="container">
        <h1 class="text-center">ABOUT US</h1>

    <p class="card-text">Welcome to the enchanting world of Wizard Ice Creams, where every scoop is a spellbinding experience! Founded with a passion for both the mystique of magic and the joy of delectable treats, Wizard Ice Creams has been conjuring up delightful frozen creations since [Year of Establishment].
 
        At Wizard Ice Creams, we believe that ice cream is more than just a dessert; it's a journey of flavors and emotions. Guided by this belief, we've blended the art of ice cream making with a touch of wizardry to create a unique and enchanting range of flavors that will transport you to realms of pure delight.</p>
    <div>
        <h2>Our Magical Ingredients:</h2>
            <p>Just like a skilled wizard selects the finest components for their spells, we meticulously source the finest ingredients to create our ice creams. From locally-sourced dairy to exotic spices and fruits from distant lands, each ingredient is carefully chosen to ensure a symphony of flavors that dances on your taste buds.</p>
            </p>
    </div>
    <div>
        <h2>Magical Moments:</h2>
        <p>Wizard Ice Creams is not just a place to satisfy your cravings; it's a destination for making magical memories. Bring your friends and family, and let the wonder of our ice creams ignite laughter, joy, and bonding. Our cozy, whimsically designed parlors are the perfect setting for creating stories that will be retold for generations.</p>
    </div>
    <div>
        <h2>Community and Giving Back:</h2>
        <p>We believe in the power of giving back to the community, just as wizards help those in need. Through partnerships and initiatives, we aim to spread the magic beyond our parlors, making a positive impact on the world around us.

            Step into the enchanting world of Wizard Ice Creams and embark on a journey that blends the marvels of magic with the delight of ice cream. Join us in creating moments of pure enchantment, one scoop at a time. Your adventure awaits!
            
            Unlock the Magic of Flavor - Wizard Ice Creams!!</p>
    </div>


</div>

{% endblock body %}
