{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% block body %}
<div class = "container-fluid my-4 px-0">
<div class ="container-fluid">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2" class="active"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://source.unsplash.com/1600x900/?icecreams,ice" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
               <h5>Welcome to the best Ice creams of Wizard</h5>
               <p>Ice cream are always the answer, no matter what the question is...</p>
          </div>
    </div>
  </div>

    <div class="album py-5 bg-body-tertiary">
        <div class="container my-3">
            <h1 class="my-4">Wizards Ice Creams Menu</h1>
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?cherries,icecreams" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h4>Cherries Chip Delight</h4>
                  <p class="card-text"><li>Flavor: Cherry with Chocolate Chips.</li>
                  <p><li>Description: A delightful blend of sweet cherries and crunchy chocolate chips, creating a symphony of flavors in every bite.</li></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                     <p class="text-left"><button class="btn btn-primary" type="submit">Buy now</button></p>
                     <p class="text-right px-4"><button class="btn btn-primary" type="submit">Add to cart</button></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?chocolatechip,icecreams" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h4>Chocolate Chip Temptation</h4>
                  <p class="card-text"><li>Flavor: Rich Chocolate with Chocolate Chips.</li></p>
                  <p><li>Description: Indulge in the velvety richness of chocolate combined with the satisfying crunch of chocolate chips for an irresistible treat.</li></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="text-left"><button class="btn btn-primary" type="submit">Buy now</button></p>
                      <p class="text-right px-4"><button class="btn btn-primary" type="submit">Add to cart</button></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?Strawberrycheesecake,icecreams" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h4>Strawberry Cheesecake Dream</h4>
                  <p class="card-text"><li>Flavor: Creamy Strawberry Cheesecake.</li></p>
                  <p><li>Description: Experience the essence of a classic cheesecake swirled with juicy strawberry goodness for a delectable dessert.</li></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="text-left"><button class="btn btn-primary" type="submit">Buy now</button></p>
                     <p class="text-right px-4"><button class="btn btn-primary" type="submit">Add to cart</button></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?bluelagoonicecreams,icecreams" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h4>Blue Lagoon Bliss</h4>
                  <p class="card-text"><li>Flavor: Blue Raspberry Delight.</li></p>
                  <p><li>Description: Dive into the refreshing flavors of blue raspberry, reminiscent of a tropical paradise and perfect for cooling off on a sunny day.</li></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="text-left"><button class="btn btn-primary" type="submit">Buy now</button></p>
                     <p class="text-right px-4"><button class="btn btn-primary" type="submit">Add to cart</button></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?butterschotchicecreams,icecreams" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h4>Cheesecake Supreme</h4>
                  <p class="card-text"><li>Flavor: Cookie Dough Explosion.</li></p>
                  <p><li>Description: Embark on a journey of cookie dough chunks embedded in creamy ice cream, a nostalgic and irresistible combination.</li></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="text-left"><button class="btn btn-primary" type="submit">Buy now</button></p>
                     <p class="text-right px-4"><button class="btn btn-primary" type="submit">Add to cart</button></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?vaniilaicecreams,icecreams" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h4>Decadent Chocolate Euphoria</h4>
                  <p class="card-text"><li>Flavor: Decadent Chocolate Delight.</li></p>
                  <p><li>Description: Elevate your chocolate cravings with this intensely rich and indulgent chocolate ice cream that's a true delight for cocoa enthusiasts.</li></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="text-left"><button class="btn btn-primary" type="submit">Buy now</button></p>
                     <p class="text-right px-4"><button class="btn btn-primary" type="submit">Add to cart</button></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?chocolateicecreams,icecreams" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h4>Butterscotch Fantasy</h4>
                  <p class="card-text"><li>Flavor: Butterscotch Delight.</li></p>
                  <p><li>Description: Immerse yourself in the warm and buttery notes of butterscotch, creating a dreamy and comforting experience.</li></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="text-left"><button class="btn btn-primary" type="submit">Buy now</button></p>
                     <p class="text-right px-4"><button class="btn btn-primary" type="submit">Add to cart</button></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?cheesecakeicecreams,icecreams" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h4>Vanilla Dreamscape</h4>
                  <p class="card-text"><li>Flavor: Velvety Vanilla</li></p>
                  <p><li>Description: Savor the classic elegance of smooth and creamy vanilla, a timeless flavor that brings joy to every palate.</li></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="text-left"><button class="btn btn-primary" type="submit">Buy now</button></p>
                     <p class="text-right px-4"><button class="btn btn-primary" type="submit">Add to cart</button></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?cookieicecreams,icecreams" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h4>Cookie Dough Delirium</h4>
                  <p class="card-text"><li>Flavor: Cookie Dough Explosion</p></li>
                  <p><li>Description: Embark on a journey of cookie dough chunks embedded in creamy ice cream, a nostalgic and irresistible combination.</li></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="text-left"><button class="btn btn-primary" type="submit">Buy now</button></p>
                      <p class="text-right px-4"><button class="btn btn-primary" type="submit">Add to cart</button></p>
                    </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock body %}
